@charset  "UTF8";

*{
    margin: 0;
    padding: 0; 
}

header{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

body{
    background-color: #A9D7E9;
}

main {
    margin: auto;
    background-color: #F3F3F3;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    width: 800px;
   
}
main > form{
   
    text-align: center;
    padding: 20px;
    margin: 20px;

}
.ladels{
    display: inline-block;
    text-align: right;
    width: 40%;
    margin: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    margin-top: 10px;
}
.fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}
.dropdown{
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border:1px solid #c0c0c0
}
.from-rows {
    position: static;
    display: block;
}


main form input {
    text-align: left;
    height: 25px;
    box-shadow: .5px .5px .5px black;
    border-radius: 3px;
    margin-left: 10px;
}


main form textarea {

    height: 50px;
}