@charset  "UTF8";

*{
    margin: 0;
    padding: 0; 
}

header{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}
header h1 {
    text-shadow: 1px 1px black;
}

body{
    background-color: #A9D7E9;

}

main {
    margin: auto;
    background-color: #F3F3F3;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    width: 40vw;
    height: 75vh;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.39);
   
}
h3{
    text-align: center;
    
}
main > form{
    
    
    text-align: right;
    padding: 20px;
    margin: 20px;

}
.master-name {
    padding-bottom: 20px;
}
.master-range {
    display: inline-block;
}
.ladels{
    display: inline-block;
    text-align: right;
    width: 40%;
    margin: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    margin-top: 10px;
}
.fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.position {
    padding-top:20px ;
    text-align: center;
}
.dropdown{
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border:1px solid #c0c0c0
}
.from-rows {
    position: static;
    display: block;
}


main form input {
    text-align: left;
    height: 25px;
    box-shadow: .5px .5px .5px black;
    border-radius: 3px;
    margin-left: 10px;
}


main form textarea {

    height: 50px;
}

.buttom {
    padding-top: 30px;
    text-align: center;
}
@media (max-width:833px) {
    .master-div{
        width: 70%;

    }
    .fields {
        display: inline-block;
        text-align: left;
        width: 48%;
        vertical-align:middle;
    }
    .input-fields {
        width: 80%;
    }
    .dropdown {
        width: 90%;
    }
    
}
@media (max-width: 520px) {
    .master-div-style {
      width: 80%;
    }
  
    .fields {
      width: 80%;
      float: left;
    }
    .labels {
      width: 100%;
      text-align: left;
    }
  
    .input-fields {
      width: 100%;
    }
  
    .dropdown {
      width: 100%;
    }
  }
  